body {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  margin: 60px auto;
  width: 80%;
  background-color: #f9f9f9;
  /* background: linear-gradient(to right top, #2f7ce1,#2fabe1,#e5e,#dda919,#fddd10); */
  background-size: 100% 100%;
  -webkit-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
  color: #333;
  margin-bottom: auto;
  font-size: 24px;
}
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: auto;
  padding: 0px;
  list-style: none;
  color: #667085;
}

nav ul li,
footer ul li {
  display: inline;
  margin-right: 32px;
  font-weight: 500;
  margin-top: 30px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #667085;
}

a:hover {
  text-decoration: none;
  color: #041e3a;
}
h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 42px;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #041e3a;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0px;
}
h2 {
  font-size: 20px;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  color: #041e3a;
  font-weight: 500;
  margin-bottom: 10px;
}

p {
  font-size: 17px;
  line-height: 28px;
  color: #041e3a;
  margin: auto;
}
footer {
  border-top: 1px solid #d5d5d5;
  margin-left: auto;
  width: 100%;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

title {
  color: black;
}

.Complink {
  font-weight: 600;
}


.FHlink {
  font-weight: 600;
  color: #00a6a8;
}

.mauxlink {
  font-weight: 600;
  color: #f79b31;
}

.JPlink {
  font-weight: 600;
  color: #292d8d;
}

.container {
  max-width: 100%;
  margin-bottom: 32px;
}

.intro {
  margin-bottom: 32px;
  max-width: 750px;
}

.hey {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.section {
  margin-top: 60px;
  margin-bottom: 40px;
}

ul.blog {
  list-style: none;
  padding: 0px;
}

ul.blog li {
  margin-top: 14px;
  font-size: 17px;
}

.blog-card {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  margin: 20px auto;
  margin-bottom: 1.6%;
  background: linear-gradient(
    to right top,
    #2f7ce1,
    #2fabe1,
    #e5e,
    #dda919,
    #fddd10
  );
  background-size: 500% 500%;
  -webkit-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
  line-height: 1;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(108 108 108 / 15%) 0px 10px 40px;
}

.blog-card:hover {
  transform: scale(1.1);
  animation-delay: 0.8s;
}

h1.CardTitle {
  padding: none;
  margin-bottom: 16px;
  font-size: 20px;
  color: #ffffff;
}

.cardarea {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.CardContent {
  color: #ffffff;
}

.description {
  padding: 20px;
  position: relative;
  max-width: 300px;
  color: #ffffff;
}
