body {
  font-family: "Inter", "Sans-Serif";
  margin: 60px auto;
  width: 70%;
  background-color: rgb(248, 248, 238);
  /* background: linear-gradient(to right top, #2f7ce1,#2fabe1,#e5e,#dda919,#fddd10); */
  background-size: 400% 400%;
  -webkit-animation: gradient 20s ease infinite;
  animation: gradient 20s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav ul {
  font-family: "Inter", "Sans-Serif";
  padding: 0px;
  list-style: none;
  font-weight: bold;
  color: #333;
  margin-bottom: auto;
  font-size: 24px;
}
footer ul {
  font-family: "Inter", "Sans-Serif";
  font-size: 12px;
  padding: 0px;
  list-style: none;
  color: #667085;
}

nav ul li,
footer ul li {
  display: inline;
  margin-right: 32px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #667085;
}

a:hover {
  text-decoration: none;
  color: #333333;
}
h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 42px;
  font-family: "Inter", "Sans-Serif";
  color: #041e3a;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0px;
  margin-left: 8px;
}
h2 {
  font-size: 20px;
  font-family: "Inter", "Sans-Serif";
  color: #041e3a;
  font-weight: 500;
  margin-bottom: 10px;
}

p {
  font-size: 17px;
  line-height: 24px;
  color: #667085;
  margin: auto;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: 12px;
  margin-left: auto;
  width: 100%;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}

title {
  color: black;
}

.FHlink {
  font-weight: 600;
  color: #00a6a8;
}

.mauxlink {
  font-weight: 600;
  color: #dabc12;
}

.JPlink {
  font-weight: 600;
  color: #292d8d;
}

.container {
  max-width: 100%;
}

.intro {
  margin-bottom: 30px;
  max-width: 70%;
}

.hey {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

.section {
  margin-top: 60px;
  margin-bottom: 40px;
}

ul.blog {
  list-style: none;
  padding: 0px;
  font-size: 17px;
}

ul.blog li {
  margin-top: 10px;
}
