<!DOCTYPE html>
<html>
	<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul> <li>Maker. Designer. User.</li> </ul>
		</nav>
		<div class="container">
				{{ content }}
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:tszhoi1019@gmai.com">tszhoi1019@gmail.com</a></li>
        		<li><a href="https://github.com/tszhoi">github.com/tszhoi</a></li>
				<li><a href="https:linkedin.com/in/leetszhoi">Linkedin</a></li>
				<li><a href="https://twitter.com/tszhoi19">Twitter</a></li>
				<li> Made at 2022 Jan</li>

			</ul>
		</footer>
	</body>
</html>
